
.background{
    width:1024px;
    height:1121px;
background-image: url(img/block1.jpg);
margin:auto;
}

.p{
color:black;
font-family:"PT sans";
padding-top:160px;
padding-left:160px;
padding-reiht:160px;
width:190px;
height:260px;
}


.row{
 
padding:30px;
width:190px;
height:260px;
color:#da4453;
}

.enterprises1{
position:relation;
width:160px;
height:160px;
top:0px;
left:0px;
bottom:0px;
enterprises-image: url(img/block3.jpg);

}
.enterprises2{
position:relation;
width:160px;
height:98px;
background-color:#da4453;
top:0px;
left:0px;
bottom:0px;

}
.a{
background-color:white;
font-family:"PT sans";
text-align:center;
font-size:18px;
margin:auto;

}
.row1{
padding:30px;
width:190px;
height:260px;
color:#da4453;
}

.company1{
position:relation;
width:160px;
height:160px;
top:0px;
left:30px;
bottom:30px;
enterprises-image: url(img/block9.jpg);
top-lift:30px;
}
.company2{
position:relation;
width:160px;
height:98px;
background-color:#da4453;
top:0px;
left:0px;
bottom:0px;

}
.a{
background-color:white;
font-family:"PT sans";
text-align:center;
font-size:18px;
margin:auto;
}
.row2{
padding:30px;
width:190px;
height:260px;
color:#da4453;
}

.Drilling2{
position:relation;
width:160px;
height:160px;
top:0px;
left:30px;
bottom:30px;
enterprises-image: url(img/block15.jpg);
top-lift:30px;
}
.Drilling3{
position:relation;
width:160px;
height:98px;
background-color:#da4453;
top:0px;
left:0px;
bottom:0px;

}
.a{
background-color:white;
font-family:"PT sans";
text-align:center;
font-size:18px;
margin:auto;
}
.row3{
padding:30px;
width:190px;
height:260px;
color:#da4453;
}
}

.well2{
position:relation;
width:160px;
height:160px;
top:0px;
left:0px;
bottom:0px;
enterprises-image: url(img/block4.jpg);

}
.well3{
position:relation;
width:160px;
height:98px;
background-color:#da4453;
top:0px;
left:0px;
bottom:0px;

}
.a{
background-color:white;
font-family:"PT sans";
text-align:center;
font-size:18px;
margin:auto;